.speech{ font-family: 'Times New Roman', Times, serif; font-size: 20px; color: black;}
.stage-direction{ font-family: monospace; font-size: 20px; color: black;}
.name{ font-family: 'Times New Roman', Times, serif;font-size: 20px; color: black;}
.stage-direction{ background-color: chartreuse;}
.stage-direction:hover{ background-color: blue;color: brown;}

.goring{
    color: burlywood;
    font-family: serif;
}
.james{
    color: violet;
}
.caversham{
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
}
table{
    border: 110px;
    color: red;
    text-align: left;
    border-collapse: collapse;
    padding: 110px;
    width: 170px;
    size: 200px;
    
}
td{
    border: 1px solid rgb(211, 195, 195);
    color: greenyellow;
    text-align: right;
}
tr:nth-child(even){
    background-color:grey ;
}
.goring:hover{
    text-shadow: 2px 3px 5px greenyellow;
    border: indigo 20px solid;
}